<!DOCTYPE html>

<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="https://dailycollegetip.s3-us-west-2.amazonaws.com/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dailycollegetip.s3-us-west-2.amazonaws.com/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dailycollegetip.s3-us-west-2.amazonaws.com/favicon-16x16.png">
<link rel="manifest" href="https://dailycollegetip.s3-us-west-2.amazonaws.com/site.webmanifest">

<script>

var myFunction = function() {
alert('Thanks for subscribing!')
}

</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164092576-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-164092576-1');
</script>

<link rel="stylesheet" type="text/css" href="style.css"> 

  <title>Daily College Tips</title>

</head>

<body style="background-color: #F8F8F8;">


  


  <% if params[:signupStatus] %>

  <!-- TODO - use a script tag and call the javascript function myFunction() to trigger an alert -->
<script>

window.onload = function () { 

      myFunction();

}

</script>


  <% end %>




<div class="top-box">
    
<a href="/">
<img src="/logo-green.jpg"/>



<a id="enteremailbtn">
<label for="enteremailbtn"></label></a>


<header id="logo-text">
Daily College Tip
</header>
</a>
</div>


<div class="container1">
<div class="box">
<h1>Ace your college application</h1>
<h3>Learn what kinds of extracurriculars, classes, and essays top colleges like to see.
</h3>


<div class="cta-container">
<form method="POST" action="/signup/success" class="email-input">

<input type="text" placeholder="Enter your email..." required="required" data-vv-validate-on="none" autocomplete="off"class="email" aria-required="true" aria-invalid="false" name="Email">


<button class="cta dark">
    Subscribe to Daily College Tip
    </button>

</form>
<p class="disclaimer">
    No spam, ever. Easy unsubscribe.</p>
</div>
</div>
</diV>




<div class="all-college-tips">
    <div class="college-flex">
        <div class="tips-by"> Tips by students from:</div>

        <div class="colleges"> Harvard
        <div class="university">UNIVERSITY</div></div>

        <div class="colleges"> Yale
        <div class="university">UNIVERSITY</div></div>

        <div class="colleges"> Stanford
        <div class="university">UNIVERSITY</div></div>

        <div class="colleges"> Princeton
        <div class="university">UNIVERSITY</div></div> 

        <div class="colleges"> Columbia
        <div class="university">UNIVERSITY</div></div>
    </div>
</div>


<div class="steps-flex">
<div class="white-box">

<div class="how-it-works">
<header> 
    How It Works
</header></div>

 
<div class="steps">

<div class="numberCircle">1</div>

<header>Top college students write tips</header>

<p> College students offer their tips and tricks on how they got into the college of their choice.</p>


<div class="numberCircle">2</div>

<header> We send you daily emails</header>

<p> Get tailored advice everyday from top college attendees in the form of emails. </p>

<div class="numberCircle">3</div>

<header> We answer your questions </header>

<div class="premium">
<a class="badge">
    <span>PREMIUM</span>
</a>
</div>

<p> You ask questions about your specific college app and receive personal answers.</p>


</div>
</div>
</div>

<div class="sample-flex">
<div class="white-box-2">

<div class="sample-tip"><header> Sample College Tip </header>
<div class="tip-container">
<div class="essays">

<p> Tip: When writing your essays, first try reading some essays that have worked. Here are some published in the New York Times <a href="https://mobile.nytimes.com/2018/05/11/your-money/college-essay-topic-money-social-class.html">about work, money, and social class.</a> </p>


</div>
</div>
</div> 
</div> 
</div> 

<div class="btna">
<a href="#enteremailbtn">
<div class="sub-flex">
<button class="cta mobile">
Enter Email To Get Daily Questions
</button>
</div>
</a>
</div>




<div class="copyright">
    <div class="dct">
    
     @ Daily College Tip 2020

</div>
</div>




</body>

</html>
