<!DOCTYPE html>

<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="https://dailycollegetip.s3-us-west-2.amazonaws.com/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dailycollegetip.s3-us-west-2.amazonaws.com/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dailycollegetip.s3-us-west-2.amazonaws.com/favicon-16x16.png">
<link rel="manifest" href="https://dailycollegetip.s3-us-west-2.amazonaws.com/site.webmanifest">




<style>



.top-box   {


    background-color: #FFFFFF;
    margin-left: calc(-50vw + 50%);
    width: 100vw;
    padding: 24px;
    background: #fff;
    border-bottom: 2px solid #f1f1f1;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 50px;
    height: 50px;
    font-family: "Roboto", sans-serif;

            }


.top-box  header {
    
    margin-left: 10px;
    font-size: 22px;
    color: #555;
    line-height: 1.15;
    letter-spacing: .6px;
    display: inline-block;
    position: relative;
    bottom: 20px;

            }

.top-box img {


    margin-left: 10%;
    width: 58px;
    height: 58px;
    display: inline-block;

                }


.top-box a {
    text-decoration: none; 
}


.box  {

	background-color: #2ab380; 
	padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
	height: 300px;
	width: 912px;
	margin: auto;
	margin-top: 50px;

	   }


	   h1 {

	 text-align: center;
  	 font-size: 48px;
  	 letter-spacing: .5px;
  	 color: white;
	      }


	   h3 {

	text-align: center;
	font-size: 21px;
    font-weight: 1;
    margin: 24px 0 0;
    line-height: 36px;
    color: white;
    font-family: 'Roboto', sans-serif;


	       }


	
.box > .cta-container > form.email-input > input.email {

	 width: 99%;
	 border-bottom-left-radius: 0;
	 border-bottom-right-radius: 0;
	 text-align: center;
	 height: 50px;
	 border-radius: 4px;
	 font-size: 18px;
	 color: #111;

				}


.box > .cta-container > form.email-input > button.cta {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
    background: #ffce38;
    height: 50px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: 0 3px 0 0 #6e5817;
    box-shadow: 0 3px 0 0 #6e5817;

                }


.white-box      {


    background-color: #ffffff; 
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    height: 470px;
    width: 800px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

                 }



.white-box-2     {


    background-color: #ffffff; 
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    height: 220px;
    width: 800px;
    margin: auto;
    margin-top: 30px;

                  }

.tip-container {

    padding: 24px;
    border-radius: 4px;
    background: #fbfbfb;
    border: 2px solid #f1f1f1;
    margin-bottom: 100px;

                }



.how-it-works > header  {
   	font-size: 24px;
    text-align: center;
    margin-bottom: 58px;
    letter-spacing: .5px;
    margin-top: 16px;
    font-weight: bold;
		}


.box > .cta-container > p.disclaimer {

    margin: 12px 0 0;
    text-align: center;
    font-size: 0.8em;
    color: white;
    font-family: 'Roboto';
                                    }


.box > .cta-container {
    margin-top: 20px;

    /*Use Flexbox to center the elements*/
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


button.cta  {
	color: #6e5817;
	font-weight: 500;
 	font-size: 18px;
		}


.numberCircle    {

    width: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    border: 2px solid #ccc;
    margin-left: 90px;
	display: inline-block;	

			       }


.tips-by        {

display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
    font-size: .875rem;
    line-height: 1.714286;
    font-family: 'Montserrat', sans-serif;
    margin-top: 60px;
}


.colleges  {

	font-family: Times,Times New Roman,serif;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1;
    letter-spacing: .5px;
    text-align: center;
    color: #393939;
    font-weight: 400;
    display:inline-block;
    margin-left: 30px;

			}


.university  {

	font-family: Arial,Helvetica,sans-serif;
    font-size: 10.5px;
    font-size: .65625rem;
    line-height: 1;
    letter-spacing: .5px;
    text-align: center;
    color: #393939;
    font-weight: 400;

			}

.steps > header {	

	margin-left: 5%;
	font-size: 23px;
    letter-spacing: 0.5px;
    display: inline-block;

		}


.steps > p {

	font-size: 19px;
    color: #555555;
    line-height: 40px;
    padding: 12px 0 0 37px;
    margin-left: 4%;

			}

.premium 	{

	color: #fff;
    font-size: 15px;
    font-weight: 700;
    background: #ffce38;
    border: 2px solid #ffce38;
    border-radius: 5px;
    padding: 2px;
    font-family:'Roboto', sans-serif;
    display: inline-block;
			}

.sample-tip > header {

	margin-top: 16px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 38px;

                    }


.all-college-tips {

    text-align: center;

                  }


.essays >  p    {

    margin-left: 100px ;
    margin-right: 100px;
    font-size: 19px;
    color: #555555;
    padding: 12px 0 0 37px;
    margin-left: 35px;
}



.essays >  a    {

    margin-left: 100px ;
    font-size: 19px;
    padding: 12px 0 0 37px;
    margin-left: 35px;
    display: inline-block;
}



.copyright {

    padding: 24px;
    border-top: 2px solid #f1f1f1;
    color: #555;
    width: 100%;
    background-color: white;
    flex-direction: column;
    margin-top: 48px;
    margin-left: calc(-50vw + 50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    width: 100vw;
    bottom: 0;
    z-index: 2;
    left: 0;
    right: 0;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
}



.dct {

    color: #555;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    -webkit-box-direction: normal;
    text-align: center;
    font-family:'Roboto', sans-serif;
}



button.cta {
    box-shadow: 0 3px 0 0 #e7ba2f;
    margin: 24px 0;
    padding: 15px 24px;
    border: none;
    outline: none;
    transition: all .15s ease-in-out;
    border-radius: 4px;
    background: #ffce38;
    color: #6e5817;
    font-weight: 600;
    font-size: 18px;
    -webkit-appearance: button;
    box-sizing: border-box;
    text-align: center;
    align-items: flex-start;
    cursor: default;
     -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    overflow: visible;
    display: inline-block;
    line-height: 1.15;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left:244px;

}


.container1{

  display: flex;
  justify-content: center;
  align-items: center;


}

/* MEDIA QUERIES*/
@media screen and (max-width: 700px){
.box {

    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    height: 360px;
    width: 912px;
    margin: auto;
    align-items: center;

}
.numberCircle    {

    width: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    border: 2px solid #ccc;
    margin-left: 5%;
    display: inline-block;  
}



.white-box      {


    background-color: #ffffff; 
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    height: 575px;
    width: 575px;
    margin: auto;
    margin-top: 30px;

}


.steps > header {   

    margin-left: 12%;
    font-size: 20px;
    letter-spacing: 0.5px;
    display: inline-block;

        }

.steps > p {

    font-size: 17px;
    color: #555555;
    line-height: 40px;
    padding: 12px 0 0 37px;
    margin-left: 2%;

            }



}



</style>

  <title>Daily College Tips</title>

</head>

<body style="background-color: #F8F8F8;">

<div class="top-box">
    
<a href="/">
<img src="https://dailycollegetip.s3-us-west-2.amazonaws.com/logo-green.jpg"/>
<header>
Daily College Tip
</header>
</a>
</div>


<div class="container1">
<div class="box">
<h1>Ace your college application</h1>
<h3>Learn what kinds of extracurriculars, classes, and essays top colleges like to see.
</h3>


<div class="cta-container">
<form method="POST" action="/signup/success" class="email-input">

<input type="text" placeholder="Enter your email..." required="required" data-vv-validate-on="none" autocomplete="off"class="email" aria-required="true" aria-invalid="false" name="Email">

<button class="cta dark">
	Subscribe to Daily College Tip
	</button>

</form>
<p class="disclaimer">
	No spam, ever. Easy unsubscribe.</p>
</div>
</div>
</diV>

<div class="all-college-tips">
<div class="tips-by"> Tips by Students from:</div>

<div class="colleges"> Harvard
<div class="university">UNIVERSITY</div></div>

<div class="colleges"> Yale
 <div class="university">UNIVERSITY</div></div>

 <div class="colleges"> Stanford
 <div class="university">UNIVERSITY</div></div>

 <div class="colleges"> Princeton
  <div class="university">UNIVERSITY</div></div> 

  <div class="colleges"> Columbia
   <div class="university">UNIVERSITY</div></div>
</div>


<div class="white-box">

<div class="how-it-works">
<header> 
</header></div>

 
<div class="steps">

<div class="numberCircle">1</div>

<header> We source advice from top college students</header>

<p> College students offer their tips and tricks on how they got into the college of their choice.</p>


<div class="numberCircle">2</div>

<header> We send you daily emails</header>

<p> Get tailored advice everyday from top college attendees in the form of emails. </p>

<div class="numberCircle">3</div>

<header> We answer your questions </header>

<div class="premium">
<a class="badge">
	<span>PREMIUM</span>
</a>
</div>

<p> You ask questions about your specific college app and receive personal answers.</p>


</div>
</div>

<div class="white-box-2">

<div class="sample-tip"><header> Sample College Tip </header>
<div class="tip-container">
<div class="essays">

<p> Tip: When writing your essays, first try reading some essays that have worked! Here are 50 successful Harvard essays: <a href="https://schoolbag.info/pdf/150_successful_harvard_application_essays_what_worked_for_the.pdf">Harvard Essays</a> </p>

</div>
</div>



<button class="cta mobile">
    <strong>Enter Email </strong>
     To Get Daily Questions
</button>




<div class="copyright">
    <div class="dct">
    
     @ Daily College Tip 2020

</div>
</div>


</div>

</div>

</body>

</html>



