<!DOCTYPE html>
<html> 
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153511169-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-153511169-1');
	</script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dog Checklist</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/alert.css" type="text/css" />



	<style>
		a {font-style: italic;}

		h1 {font-weight: bold;}

		p.moreInfo {width: 65%; margin: auto; text-align: center; font-size: 1.2em;}

		body {margin-bottom: 50px;}

		ul {width: 65%; margin: auto; font-size: 1.2em; }

		input.myInput {margin-right: 8px !important;}

		div.formBlock {text-align: center; margin-top: 40px;}

		h1.mainHeading {text-align: center;}

	</style>

</head>
<body style="font-family: 'Lato', sans-serif;">

  <!-- Notify about form submission -->
  <% if params[:signupStatus] %>
    <div id="alert">
        <a class="alert" href="#alert">You Subscribed!</a>
    </div>
  <% end %>




	<h1 class="mainHeading">Dog Checklist</h1>
	<h2><center>Things to do for your new dog</center></h2>
	<p class="moreInfo">
		Getting a new dog can be an amazing journey but sometimes all the things you need to do can be overwhelming. Here is a checklist of everything you have to do when welcoming a new pup into the family. 
	</p>
	<hr>

	<center><img height="350px" width="550px"    src="http://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2017/11/12193133/German-Shepherd-Puppy-Fetch.jpg">
	</center>
	<h3><center>Things to buy:</center></h3>
	<center><h4>Included are highly recommended options:</h4></center>

	<div  style="margin: auto;"> 
		<ul>

			<input class="myInput" type="checkbox" name="prop3" value="3">Crate: <a target="_blank" href="https://www.amazon.com/gp/product/B00QAVO29I/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00QAVO29I&linkCode=as2&tag=lindsay0ad-20&linkId=da7935dadabdd4d7b55d1f3e186b85f0">Metal Cage Crate For Dog </a><img src="//ir-na.amazon-adsystem.com/e/ir?t=lindsay0ad-20&l=am2&o=1&a=B00QAVO29I" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br>

			<input class="myInput" type="checkbox" name="prop4" value="4">Dog food: <a target="_blank" href="https://www.amazon.com/gp/product/B00JN9IJAW/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00JN9IJAW&linkCode=as2&tag=lindsay0ad-20&linkId=0e4578e5ecc213dab5ee676af0aa5eb3">Pedigree Complete Nutrition Adult Dry Dog Food</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=lindsay0ad-20&l=am2&o=1&a=B00JN9IJAW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br>

			<input class="myInput" type="checkbox" name="prop5" value="5">Food and water bowls: <a target="_blank" href="https://www.amazon.com/gp/product/B01NCM3WYW/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01NCM3WYW&linkCode=as2&tag=lindsay0ad-20&linkId=3ec92ca5e9e0b5015f9101390f407e19">Pet Bowl for Food &amp; Water </a><img src="//ir-na.amazon-adsystem.com/e/ir?t=lindsay0ad-20&l=am2&o=1&a=B01NCM3WYW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br>
			<input class="myInput" type="checkbox" name="prop6" value="6"> Leash and collar with ID tag: <a target="_blank" href="https://www.amazon.com/gp/product/B0792QKBSL/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0792QKBSL&linkCode=as2&tag=lindsay0ad-20&linkId=6e7eed229680baf7fcbfd179e09d6792">Durable Padded Dog Leash and Collar Set</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=lindsay0ad-20&l=am2&o=1&a=B0792QKBSL" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br>
			<input class="myInput" type="checkbox" name="prop7" value="7">Toys: <a target="_blank" href="https://www.amazon.com/gp/product/B072NXTSF3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B072NXTSF3&linkCode=as2&tag=lindsay0ad-20&linkId=a0305d26b78b12b7d5fd478406534c7c">Dog Puppy Toys 12 Pack</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=lindsay0ad-20&l=am2&o=1&a=B072NXTSF3" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br>
			<input class="myInput" type="checkbox" name="prop11" value="11">Grooming supplies: <a target="_blank" href="https://www.amazon.com/gp/product/B07H24H71C/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H24H71C&linkCode=as2&tag=lindsay0ad-20&linkId=7c26927ddf2a6e520f5f4d52c4c08f6a">Dog Grooming Tools </a><img src="//ir-na.amazon-adsystem.com/e/ir?t=lindsay0ad-20&l=am2&o=1&a=B07H24H71C" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br>
			<input class="myInput" type="checkbox" name="prop12" value="12">Treats: <a target="_blank" href="https://www.amazon.com/gp/product/B006HKA6II/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B006HKA6II&linkCode=as2&tag=lindsay0ad-20&linkId=a5dd4ac8ed9a79f473774d427bfdd244"> Dog Snacks, 25 ounces</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=lindsay0ad-20&l=am2&o=1&a=B006HKA6II" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br>
		</ul>
	</div>	

	<center><h3>Things to do:</h3></center>
	<center><h4>Click to find places near you:</h4></center>
	<ul class="myList">
		<input class="myInput" type="checkbox" name="prop8" value="8"><a href="https://www.google.com/maps/search/?api=1&query=veterinary" target="_blank">Get dog checked by vet</a>

		<br>
		<input class="myInput" type="checkbox" name="prop9" value="9"> <a href="https://www.google.com/maps/search/?api=1&query=dog+training
		" targer="_blank">Start on training<br></a>

		<input class="myInput" type="checkbox" name="prop10" value="10"><a href="https://www.google.com/maps/search/?api=1&query=dog+microchip
		" target="_blanl">Permanent Identification (microchip, tattoo, etc.) <br> </a>
	</ul>
	<br>
	<div class="formBlock">
		<h4>Subscribe for more dog care tips!</h4>

		<form method="POST" action="/signup/success">
			<p>Email: <input type="text" name="Email" size="24"></p>
			<p><input type="submit" value="Submit" name="Submit"></p>
		</form>

		<% if params[:signupStatus] %>

		<h1>You subscribed!</h1>

		<% end %> 
		<div>

		</body>
		</html> 


